//
// menu.scss
//
#topnav {
    .logo {
        float: right !important;
    }
    .has-submenu{
        .submenu {
            .submenu-arrow {
                border-width: 0 0 2px 2px !important;
                transform: rotate(45deg);
                left: 20px !important;
                right: auto;
            }
        }
    }
    .navbar-toggle {
        .lines {
            margin: 32px 20px 24px 0 !important;
        }
    }
    .navbar-toggle {
        &.open {
            span {
                &:first-child {
                    transform: rotate(-45deg) !important;
                }
                &:last-child {
                    transform: rotate(45deg) !important;
                }
            }
        }
    }
  
    .navigation-menu {
        > li {
            float: none;
            &:last-child {
                margin-left: 0 !important;
                margin-right: 10px !important;
            }
            > a {
                &:last-child {
                    padding-left: 0 !important;
                    padding-right: 10px !important;
                }
            }
        }
        .has-submenu {
            .menu-arrow {
                border-width: 0 0 2px 2px !important;
                transform: rotate(-45deg);
                left: -5px !important;
                right: auto;
            }
        }
    }
    .menu-extras {
        float: left !important;
    }
}
@media (min-width: 992px) {
    #topnav {
        .navigation-menu {
            > .has-submenu {
                > .submenu {
                    > .has-submenu {
                        > .submenu {
                            &::before{
                                margin-right: -35px !important;
                                margin-left: auto;
                                box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.15);
                            }
                        }
                    } 
                }
            } 
            > li {
                .submenu {
                    left: auto;
                    right: 0 !important;
                    &:before {
                        right: 20px !important;
                        left: auto;
                        border-color: transparent transparent $white $white !important;
                        transform: rotate(135deg);
                    }
                    > li {
                        .submenu {
                            right: 106% !important;
                            left: auto;
                            margin-right: 10px !important;
                            margin-left: auto;
                        }
                    }
                }
                .submenu {
                    li {
                        ul {
                            padding-right: 0 !important;
                            padding-left: auto;
                        }
                    }
                    &.megamenu {
                        > li {
                            .submenu {
                                right: 100% !important;
                                left: auto;
                                margin-right: 10px !important;
                                margin-left: auto;
                            }
                        }
                    }
                }
                &.last-elements {
                    .submenu {
                        left: 0 !important;
                        right: auto;
                        &:before {
                            left: 10px !important;
                            right: auto;
                        }
                        > li.has-submenu .submenu {
                            right: auto;
                            left: 100% !important;
                            margin-right: 0 !important;
                            margin-left: 10px !important;
                        }
                    }
                }
            }
        }        
    }
}
  
  @media (max-width: 991px) {
    #topnav {
        .navigation-menu {
            > li {
                .submenu {
                    padding-right: 20px !important;
                    padding-left: auto;
                    &.megamenu {
                        > li {
                            > ul {
                                padding-right: 0 !important;
                                padding-left: auto;
                            }
                        }
                    }
                }
                
                > a {
                    &:last-child {
                        padding-right: 20px !important;
                    }
                }
            }
        }
        .navbar-header {
            float: right !important;
        }
    }
    #topnav {
        .has-submenu{
            .submenu {
                .submenu-arrow {
                    transform: rotate(-45deg) !important;
                    left: 20px !important;
                    right: auto;
                }
            }
        }
    }

    #navigation {
        right: 0 !important;
        left: auto;
    }
}
@media (max-width: 768px) {
    #topnav {
        .navigation-menu {
            .has-submenu {
                .menu-arrow {
                    left: 16px !important;
                    right: auto;
                }
            }
        }
    }
}
@media (max-width: 375px){
    #topnav {
        .navbar-toggle {
            .lines {
                margin-left: 0 !important;
                margin-right: auto;
            }
        }
    }
}